# Dependencies
node_modules/

# Logs
logs
*.log

# Environment files
.env

# Build output
build/
dist/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*

# Helm
*.tgz